* {
  margin: 0;
  padding: 0;
}

.task header .nav {
  text-align: center;
}
.task header .nav button {
  background-color: yellow;
}
.task .top {
  background-color: teal;
  text-align: center;
}
.task .top h1 {
  color: #fff;
}
.task .main .img {
  width: 600px;
}
.task .main p {
  text-align: center;
}
.task .main .about {
  background-color: yellow;
}
.task .main .about .h2 {
  text-align: center;
}
.task .main .footer {
  background-color: teal;
  margin-top: 20px;
}